@font-face {
    font-family: 'RopaSans-Regular';
    src:url(../fonts/RopaSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Courgette-Regular';
    src:url(../fonts/Courgette-Regular.ttf) format('truetype');
}
body{
    margin: 0;
    background: url("../images/bg.png");
}
header{
    position: relative;
}
.header-top{
    background-color: #000;
}
.header-top h3{
    font-family: Courgette-Regular;
    color: #fff;
    font-weight: 500;
}
.header-top h3 span{
    color: #11a86a;
    font-weight: normal;
    font-family: "wenquanyi micro hei";
}
.header-top h3 i{
    font-weight: normal;
    font-family: "wenquanyi micro hei";
}
.header-bottom{
    width: 100%;
    height: auto;
}
.logo{
    position: absolute;
    top:-39px;
}
.logo img{
    width: 45%;
}
.collapse{
    font-family: Courgette-Regular;
    font-size: 20px ;
    color: #000;
}
.navbar{
    background-color: transparent !important;
    border: none !important;
}
nav{
    margin-bottom: 0 !important;
}
.nav .active a{
    color: #73a866 !important;
    background-color: transparent !important;
}
.nav>li a:hover{
    transition: 1s all !important;
    color: #73a866 !important;
}
.carousel{
    position: relative;
}
.glyphicon-chevron-left{
    width: 2em !important;
    background-color: #5ba85a;
    position: absolute;
    left: .5em !important;
    opacity: 0.9 !important;
}
.glyphicon-chevron-right{
    width: 2em !important;
    background-color: #5ba85a;
    position: absolute;
    right: .5em !important;
    opacity: 0.9 !important;
}


.welcome{
    background-color: #767676;
    padding: 2.5em 0;
}
.welcome .welcome-text h4{
    margin: 1.5em 0 .5em;
    font-family: Courgette-Regular;
    font-weight: bolder;
    font-size: 3em;
    color: #fff;
}
.welcome .welcome-text p{
    line-height: 2em;
    color: #fff;
    font-weight: 400;
}
.about{
    padding: 2em 0;
}

.about h3{
    color: #422100;
    font-family: "Metamorphous" ,cursive ;
    font-size: 2.5em;
}
.about p{
    line-height: 1.5em;
    font-size: 1.3em;
}




.demo-1 {
    position: relative;
    width: 340px;
    height: 235px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #000;

}
.gallery-info {
    margin-left: 2em;
}
.effect:nth-child(3) {
    margin-right: 0 !important;
}
.effect:nth-child(6) {
    margin-right: 0 !important;
}
ul.demo-1.effect li {
    list-style: none !important;
}
.demo-1 p,.demo-1 h2 {
    color: #fff;
    padding: 14px 25px 0px 25px;
    left: 0px;
    top: 41px;
    position: relative;
}

.demo-1 p {
    font-size: 14px;
    line-height: 1.7em;
    margin: 0;
    font-weight: 400;
}
.latest-designs li {
    list-style: none;
}
.demo-1 h2 {
    font-family: 'Metamorphous', cursive;
    font-size: 25px;
    line-height: 24px;
    margin: 0;
    color:#339966
}

.effect img {
    position:absolute;
    margin:-15px 0;
    right:0;
    top:0;
    cursor:pointer;
    -webkit-transition:top .4s ease-in-out,right .4s ease-in-out;
    -moz-transition:top .4s ease-in-out,right .4s ease-in-out;
    -o-transition:top .4s ease-in-out,right .4s ease-in-out;
    transition:top .4s ease-in-out,right .4s ease-in-out
}

.effect img.top:hover {
    top:-230px;
    right:-330px;
    padding-bottom:200px;
    padding-left:300px
}
.latest-designs h3 {
    font-family: 'Metamorphous', cursive;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    color:#663300;
}
.latest-designs {
    padding: 3em 0;
}


.picture{
    background: url("../images/quote-image1.jpg");
    background-size: cover;
    min-height: 350px;
}
.col-md-6 {
    background: rgba(0, 0, 0, 0.25);
    min-height: 350px;
    padding-top: 10em;
    padding-left: 5em;
}
.picture h5{
    color: #fff;
    font-family: Courgette-Regular;
    font-weight: 600;
    font-size: 2.5em;
}

.serve h1{
    font-family: 'Metamorphous', cursive;
    text-align: center;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    color:#663300;
}

.serve .col-md-3 .picture-img-1{
    background: #1FADC5;
    position: relative;
}
.serve h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color:#663300;
    margin:1em 0 2em ;
}
.serve h4 span{
    font-family: 'Metamorphous', cursive;
    font-size:1em;
    font-weight: 300;
}
.serve p{
    padding: 1em 0 0 0;
    line-height: 2em;
}
.serve .col-md-3 span a{
    display: block;
    color: #000000 ;
    font-size: 1em ;
    font-weight: 600;
}
.serve .col-md-3 span a:hover{
    color: #339966;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background: url(../images/list1.png) no-repeat  32% 51%;
}
.serve img:hover{
    -webkit-filter:opacity(0.5);
}
.serve .col-md-3 label{
    width: 25% !important;
    height: 2px !important;
    background: #663300 !important;
}
.serve .picture-img-2{
    visibility: hidden;
    position: absolute !important;
    top:45%;
    left:-2.5em;
    opacity: 0.8;
    width: 25px;
    height: 30px;
}


footer{
    padding-top: 4em;
    background-color: #444;
    padding-bottom: 4em;
    position: relative;
}
footer h3{
    color: #fff;
    font-family: Courgette-Regular;
    font-size: 1.3em;
    font-weight: 900;
}
footer ul{
    list-style: none;
    padding-left: 0 !important;
}
footer ul li a{
    line-height: 2em;
    color: #999;
    font-weight: 200;
}
footer ul li a:hover{
    color: #fff;
    text-decoration: none;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
footer .sub-text input[type="text"]{
    background-color: transparent;
    color: #fff;
    width: 82%;
    outline: none;
    font-family: 'Lato', sans-serif;
    background: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 11px 12px;
    border: 1px solid #fff;
    -webkit-appearance: none;
}
.sub-text input[type="submit"] {
    border: 1px solid #fff;
    outline: none;
    border-left: none;
    color: #fff;
    margin-left: -4px;
    background: url(../images/arrow.png) no-repeat 14px 14px;
    padding: 3px 22px 16px 19px;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.sub-text input[type="submit"]:hover {
    background: url(../images/arw.png) no-repeat 14px 14px;
}
footer .copy-rights{
    padding-top: 2em;
}
footer .copy-rights p{
    color: #999;
    font-size: 1em;
}
footer .copy-rights p a{
    color: #fff;
    font-weight: 800;
    font-size: 1.1em;
}
footer .fixed-bottom{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 3em;
    right: 1.5em;
    background: url("../images/to-top1.png");
    overflow: hidden;
}