

/*header start here*/

/*content start here*/
.content{
   
    width: 1050px;
    margin:10px auto;
}
.content .con-first video{
    width: 384px;
    height: 280px;
}
.content  .title{
    width: 100%;
    background-color: #286fb7;
    border-radius: 5px;
    text-align: left;
    padding: 9px 0;
    -webkit-box-shadow: 3px 3px 10px #dddddd;
    box-shadow: 0px 0px 10px 1px #dddddd;
}
.content  .title>a{
    color: #ffffff;
    font-size: 16px;
    margin-left: 25px;
    font-family: 幼圆;
    text-decoration:none;
}

.more
{
	float:right;
	margin-right:25px;
	font-family:Calibri;
}

.more:hover
{
	font-weight:300;
	cursor:pointer;
	
}
.content  .row>div{
    
    height: 280px;

}
.content  .row{
    
    width: 1050px;
    margin: 0 auto;

}
.content  .row>div>div{
    border: solid 1px #dddddd;
     -webkit-box-shadow: 3px 3px 10px #dddddd;
    box-shadow: 3px 3px 10px 4px #dddddd;
    border-radius: 10px;
    height: 100%;
}

.content  .row>div>div p{
    width: 90%;
    height:38px !important;
    margin: 0 auto;
    border-bottom: dashed 1px #999;
    text-align: left;
    padding-top: 10px;
}
.content  .row>div>div p a{
   color:#666666;
   font-size: 13px;
    text-decoration: none;
   
}

.content  .row>div>div p span
{
    color:#666666;
   font-size: 14px;
   float:right;
}
.content .con{
    margin-bottom: 10px;
}
.content .con-thir{
    margin-top: 1em;
}
.content .con-thir .row>div{
    height: 140px !important;
     overflow-x: hidden;
}

.content .con-thir .row .col-md-10 img{
    margin-top: 4px;
    margin-left: 3px;
    float: left;
    position: relative;
    
}

.con-fif img{
   margin-top: 3px;
}
.con-fif .con-fif-picture{
    width:1050px;
    float: left;
    height:70px !important;
}

.intro
{

	display:block;
	font-size: 13px;
	line-height:32px;
	font-family:微软雅黑;
    color:#666666; 
     width: 90%;
     height:220px;
    margin: 0 auto;
    padding-top: 10px;
    text-indent:2em
    
}


/*footer start here*/
.myFooter{
    width: 1100px;
   margin-top: 10px;
}
.myFooter .text{
    background-color: #286fb7;
    padding: 2em;
   
}

.text-center
{
    font-family: 微软雅黑;
    color: #fff;
}
